body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    height: 600px;
    width: 600px;
}

#buttons {
    display: grid;
}

#buttons button {
    margin: 5px;
}

#directions {
    height: 500px;
}